.header{
    background-color: #438EB9;
    color: white;
    height: 40px;
    padding: 10px 0;
    font-size: 14px;
    border-bottom: 1px solid #E5E5E5;
}

.header__button{
    color: white;
}

.header__buttons_center{
    text-align: center;
}

.body__left{
    height: 100vh;
    background-color: #F5F5F5;
    border-right: 1px solid #E5E5E5;
    text-align: center;
    padding-right: 0;
}

.body__right{
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.body__left_avatar{
    margin: 20px 0;
}

.body__left_name{
    margin-top: 15px;
    border-bottom: 1px solid #E5E5E5;
    border-top: 1px solid #E5E5E5;
    padding: 5px 0;
}

.body__left_who{
    padding: 5px 0;
    border-bottom: 1px solid #E5E5E5;
}

.teachers{
    height: 40px;
    padding-top: 10px;
    background: #ECF2F7;
    text-align: center;
    margin: 0 10px;
    border: 1px solid #E5E5E5;
}

.teacher{
    margin: 5px 0;
}

.teacher__list{
    display: none;
    margin: 15px 10px;
    border: 1px solid #E5E5E5;

}

.teacher__rating-marks{
    display: none;
}

.teacher__rating-marks_margin{
    margin: 5px 0;
}

.teacher__rating-submit{
    margin: 5px 0;
}

.students{
    height: 40px;
    padding-top: 10px;
    background: #ECF2F7;
    text-align: center;
    margin: 0 10px;
}

.studying-plan{
    height: 40px;
    padding-top: 10px;
    background: #ECF2F7;
    text-align: center;
    margin: 0 10px;
}

.npd{
    height: 40px;
    padding-top: 10px;
    background: #ECF2F7;
    text-align: center;
}
